
* {
  box-sizing: border-box;
  margin:0;
  font-family: 'Roboto', sans-serif;

}

h1 {
  margin-bottom: 50px;
  margin-top: 80px;
  font-size: 30px;
  text-align: center;
  font-weight: bold; 
}

/* Simple Responsive Framework. */


.row {
  width: 95%;
}


p{

  font-weight: bold;
  font-size: 20px;
  border: 2px solid;
  vertical-align: middle;
  margin: 0px 0px 10px 0px;
  width: 180px;
  text-align: center;
  float: right;

}

p.pink {
  background-color: #ffd2d2;

}

p.red {
  background-color: #ff5a36;

}

p.yellow {
  background-color: #f3ed84;

}


section {
  clear: right;
  font-weight: bold;
  margin: 3% 3% 2% 3%;
}



/********** Medium Size (Desktop) **********/
@media (min-width: 768px) {
   .col-md-12 {
    float: left;
    padding: 0px;
    margin: 0% 25% 5% 10%;
    border: 2px solid black;
    background-color: #B3B9C0;

  }
}


  /********** Small Size (Tablet) **********/
@media (min-width: 576px) and (max-width: 767px) {
    .col-sm-12 {
    float: left;
    padding: 0px;
    margin: 0% 25% 5% 10%;
    border: 2px solid black;
    background-color: #B3B9C0;

  }
}

    /********** Extra Small Size (Smarthphone) **********/
@media (max-width: 575px) {
    .col-sl-12 {
    float: left;
    padding: 0px;
    margin: 0% 25% 5% 10%;
    border: 2px solid black;
    background-color: #B3B9C0;

  }
}