
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

/** HEADER **/
  #header-nav {
    background-color: #B3B9C0;
    border: 1px solid;
    border-radius: 0;
    width: 100%;
  
}

.navbar-nav {
  display: none;
}



.navbar .navbar-brand {
  color: black;
  font-weight: bold;
  font-size: 25px;


}

#name {
  margin-left: 25px;

}

.navbar-default .navbar-toggle .icon-bar {
  border-color: black;
  border: 10px;

}

/** END HEADER **/


/* PRINCIPAL */

h1 {
  margin-bottom: 50px;
  margin-top: 80px;
  font-size: 30px;
  text-align: center;
  font-weight: bold; 
}


.row {
  width: 100%;
}


p {

  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px 5px 0px;
  text-align: center;
  


}


section {
  clear: right;
  font-weight: bold;
  margin: 3px 10px 2px 10px;
  padding: 0px 10px 0px 10px;
}




/********** Medium Size (Desktop) **********/
@media (min-width: 768px) {
   .col-lg-12, .col-md-12 {
    padding: 3px;
    margin: 1px 0px 2px 30px;
    background-color: #B3B9C0;
    flex: 0 0 98%;
    width: 100%;

  }

}


  /********** Small Size (Tablet) **********/
@media (min-width: 576px) and (max-width: 767px) {
    .col-sm-12 {
    padding: 3px;
    margin: 1px 0px 2px 40px;
    background-color: #B3B9C0;
    flex: 0 0 94%;
    width: 100%;

  }
}

    /********** Extra Small Size (Smarthphone) **********/
@media (max-width: 575px) {
    .col-10 {
    padding: 0px;
    margin: 1px 10px 2px 60px;
    background-color: #B3B9C0;

  }

    #name {


    }
}


/* END PRINCIPAL */