
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin:0;

}

/** HEADER **/
  #header-nav {
    background-color: #B3B9C0;
    border: 1px solid;
    border-radius: 0;
    width: 100%;
  
}

.navbar-nav {
  display: none;
}



.navbar .navbar-brand {
  color: black;
  font-weight: bold;
  font-size: 25px;


}

#name {
  margin-left: 25px;

}

.navbar-default .navbar-toggle .icon-bar {
  border-color: black;
  border: 10px;

}

.menu {
  vertical-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;


}


/** END HEADER **/


/* PRINCIPAL */

h1 {
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  font-weight: bold; 
}


.row {
  margin-left: 5px;
  margin-right: 5px;
  width: 98%;
}


p{

  font-weight: bold;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
  text-align: center;

}


section {
  clear: right;
  font-weight: bold;
  margin: 10px 5px 5px 10px;
}




/********** Medium Size (Desktop) **********/
@media (min-width: 768px) {
    .col-md-12 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: #B3B9C0;    

  }

}


  /********** Small Size (Tablet) **********/
@media (min-width: 576px) and (max-width: 767px) {
    .col-sm-12, .col-md-12 {
    margin: 1px 5px 15px 60px;;
    background-color: #B3B9C0;


  }
}

    /********** Extra Small Size (Smarthphone) **********/
@media (max-width: 575px) {
    .col-xs-10 {
    padding: 0px;
    margin: 1px 10px 15px 35px;
    background-color: #B3B9C0;

  }

}


/* END PRINCIPAL */